<h1> Please enter a new link below</h1>

<form action="/" method="POST">
  <label for='title'>
    Title:
  <input type="text" name="title" />
</label>
<label for='url'>
  URL:
  <input type="text" name="url" />
</label>
<input type='submit' value='Submit'>

</form>
